
@{
    ViewBag.Title = "Catálogos";
    if (string.IsNullOrEmpty(Core.Web.Helps.SessionFixed.IdUsuario))
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.Action("GridViewPartial_catalogo_", new { IdCatalogoTipo = ViewBag.IdCatalogoTipo })


    <div class="box-footer">
        <a class="btn btn-default" href="@Url.Action("Index","CatalogoTipo",new { IdCatalogoTipo = ViewBag.IdCatalogoTipo },null)">Volver</a>
    </div>


}
